

.main {
  display: block;
  height: 100vh;
  padding: 50px 70px;
  background: url(../../assets/img/bg/wall1.png) center center / cover no-repeat;
  &__container {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    // padding: 10px 10px;

    // background: rgb(20,19,50);
    background: linear-gradient(333deg, rgba(20,19,50,0.6) 11%, rgba(99,89,233,0.9) 100%);
    border-radius: 25px;
  }
}