

.main {
  display: block;
  // height: 100vh; devmode
  padding: 50px 70px;
  background: url(../../assets/img/bg/wall1.png) center center / cover no-repeat;
  &__container {
    position: relative;
    width: 100%;
    display: flex;
    // padding: 10px 10px;

    // background: rgb(20,19,50);
    background: linear-gradient(333deg, rgba(20,19,50,0.6) 11%, rgba(99,89,233,0.9) 100%);
    border-radius: 25px;
  }
  &__content {
    padding: 20px 20px;
  }


  &__card {
    padding: 20px;
    width: 668px;
    // height: 382px; 
    background: #1D1D41;
    color: #fff;
    border-radius: 20px;
    &-rotate {
      // transition: transform 2s;
      // height: 100%;  devmode
      width: 100%;
      position: absolute;
      top: 0;
      user-select: none;
      cursor: grab;
    }
    &__drag {
      height: 230px;
      width: 400px;
      position: relative;
      display: flex;
      // justify-content: center;
      // align-items: center;
      z-index: 2;
      
      img {
        pointer-events: none;
        height: 226px;
      }
    }
    &-rotate-button {
      background-color: rgba(0,0,0,0);
      border: none;
      height: 50px;
      cursor: pointer;
      img {
        height: 100%;
      }
    }
  }
  
  &__user-block {
    padding: 20px;
    // width: 668px;
    // height: 382px; 
    background: #1D1D41;
    color: #fff;
    border-radius: 20px;
  }
  
  
  &__all-users {
    padding: 20px;
    background: #1D1D41;
    color: #fff;
    border-radius: 20px;
  }


  &__analytics {
    padding: 20px;
    width: 668px;
    // height: 382px; 
    background: #1D1D41;
    color: #fff;
    border-radius: 20px;
    .recharts-layer .recharts-bar-rectangle {
      display: block;
      width: 100px !important;
    }
    img {
      width: 100px;
    }
  }
}


// .recharts-bar-rectangle  .recharts-layer